//BUTTONS
.purple_btn{
    width: fit-content;
    padding: 4px 20px;
    color: white;
    background-color: $dark-violet;
    border: none;
}


//TEXT
.smaller-p{
    font-size: 0.945rem;
}


//INPUT
.gen-text-input{
    text-align: center;
    border-radius: 0;
    border: 2px solid $dark-violet;
    padding: 3px;
}

.only-bottom{
    border: none;
    border-bottom: 2px solid $dark-grey;
    background-color: transparent;
    color: black;
    margin: 15px 0px;
}


//ELEMENTS
.row{
    margin: 0 !important;
    padding: 0;
}

hr{
    margin: 20px 25%;
}

.flip{
    transform: rotate(180deg);
}

.style-none{
    list-style: none;
    li{
        margin-left: -30px;
    }
}