//COLORS
$logo-red: #610000;
$dark-violet: #610000; //660459 61002d
$dark-green: #056305;
$dark-yellow: #baa100;
$dark-blue: #0e0e61;
$dark-grey: #353434;

$logo-grey: #707070;

$transparent-white: #ffffff86;

$light-grey: #bababa;