/*inevitables*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body{
    background-color: rgb(167, 166, 166) !important;
}

// body{
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//     background-image: url("../../tm_imgs/viewTMbg.png");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//     position: relative;
    
// }


// HEADER
header{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Cinzel', serif;
    padding: 25px 0;
    h1{
        font-size: 2.5rem;
    }
}


// MAIN

main{
    padding: 20px 50px;
    font-family: 'Manrope', sans-serif;
    hr{
        margin: 25px 20px;
    }
    .test{
        border: 1px solid green;
        height: 100px;
    }
    .shuffler{
        .btn{
            margin: 25px 0px;
            padding: 0;
            .shuffle-btn{
                width: fit-content;
                padding: 10px 30px;
                color: white;
                background-color: rgb(14, 14, 97);
                border: none;
            }
        }
        .word{
            margin-bottom: 45px;
            .w1{
                color: rgb(133, 4, 4);
                font-weight: bold;
            }
            .w2{
                color: rgb(133, 91, 1);
                font-weight: bold;
            }
            .w3{
                color: rgb(0, 97, 0);
                font-weight: bold;
            }
        }
    }

}