@use "_variables.scss";
/*inevitables*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
}

body {
  background-color: #bababa !important;
}

body a {
  text-decoration: none;
  color: #fafafa;
}

body a:hover {
  color: #610000;
}

.accordion-item {
  background-color: rgba(255, 255, 255, 0.527);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 25px 0;
}

header a {
  color: black;
  text-align: center;
}

header a p {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 0.85rem;
  margin: 0;
}

header a img {
  width: 50px;
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Cinzel', serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  text-transform: uppercase;
  font-family: 'Manrope', sans-serif;
}

header nav a {
  margin: 0px 20px;
}

main {
  font-family: 'Manrope', sans-serif;
}

main hr {
  margin: 25px 0px;
}

main .test {
  border: 1px solid green;
  height: 100px;
}

main .accordion.accordion-flush {
  width: 85%;
  margin: auto;
}

main .accordion.accordion-flush .accordion-body.item-box-content {
  background-color: #ffffff86;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases {
  background-color: #ffffff86;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  margin-top: 35px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder, main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler {
  width: 50%;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .input-box .add-input {
  padding: 3px;
  width: 37px;
  text-align: center;
  border-radius: 0;
  border: 2px solid #660459;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .input-box .add-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 20px;
  color: white;
  background-color: #660459;
  border: none;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .label-p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder h4 {
  margin-top: 15px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .btn {
  padding: 0;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .btn .shuffle-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 20px;
  color: white;
  background-color: #660459;
  border: none;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word h4 {
  margin-top: 15px;
  margin-right: 10px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word .w1 {
  color: #056305;
  font-weight: bold;
}

main .stringer .stringer-phases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .stringer .stringer-phases .phase-1, main .stringer .stringer-phases .phase-2 {
  width: 50%;
  padding: 15px;
}

main .stringer .stringer-phases .phase-1 .label-p, main .stringer .stringer-phases .phase-2 .label-p {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 0.9rem;
}

main .stringer .stringer-phases .phase-1 .input-box, main .stringer .stringer-phases .phase-2 .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .stringer .stringer-phases .phase-1 .input-box .add-input, main .stringer .stringer-phases .phase-1 .input-box .get-input, main .stringer .stringer-phases .phase-2 .input-box .add-input, main .stringer .stringer-phases .phase-2 .input-box .get-input {
  padding: 3px;
  width: 50px;
  text-align: center;
  border-radius: 0;
  border: 2px solid #660459;
}

main .stringer .stringer-phases .phase-1 .input-box .add-btn, main .stringer .stringer-phases .phase-1 .input-box .get-btn, main .stringer .stringer-phases .phase-2 .input-box .add-btn, main .stringer .stringer-phases .phase-2 .input-box .get-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 20px;
  color: white;
  background-color: #660459;
  border: none;
}

main .stringer .stringer-phases .phase-1 h4, main .stringer .stringer-phases .phase-2 h4 {
  margin-top: 20px;
}

main .stringer .stringer-phases .phase-1 {
  border-right: 1px dotted #353434;
}

main .stringer .stringer-phases .phase-2 .input-box input {
  width: 35px;
  text-align: center;
  border: none;
}

main .stringer .stringer-phases .phase-2 ul {
  list-style: none;
}

main .stringer .stringer-phases .phase-2 ul li {
  color: #056305;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: -29px;
}

main .scroll-to-top {
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #610000;
  color: white;
  /* Text color */
  cursor: pointer;
  padding: 10px 30px;
}

main .scroll-to-top a:hover {
  color: #707070;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  background-color: #707070;
  color: whitesmoke;
}

footer p {
  margin-bottom: 10px;
  font-size: 0.85rem;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .links a {
  font-size: 1.5rem;
  margin: 0px 15px;
}
/*# sourceMappingURL=style.css.map */