/*inevitables*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body{
    background-color: rgb(177, 176, 176) !important;
}

// body{
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//     background-image: url("../../tm_imgs/viewTMbg.png");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//     position: relative;
    
// }


// HEADER
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0;
    h1{
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    h6{
        text-align: center;
        font-family: 'Manrope', sans-serif;
    }
}


// MAIN

main{
    padding: 20px 50px;
    font-family: 'Manrope', sans-serif;
    a{
        text-decoration: none;
        color: white;
    }
    hr{
        margin: 25px 0px;
    }
    .test{
        border: 1px solid green;
        height: 100px;
    }
    .adder{
        .add-btn{
            width: fit-content;
            padding: 2px 20px;
            color: white;
            background-color: rgb(97, 14, 86);
            border: none;
        }
        h4{
            margin-top: 20px;
        }
    }
    .shuffler{
        .btn{
            margin: 25px 0px;
            padding: 0;
            .shuffle-btn{
                width: fit-content;
                padding: 10px 30px;
                color: white;
                background-color: rgb(14, 14, 97);
                border: none;
            }
        }
        .word{
            margin-bottom: 45px;
            display: flex;
            flex-direction: row;
            h3{
                margin-right: 8px;
            }
            .w1{
                color: rgb(133, 4, 4);
                font-weight: bold;
            }
            /*
            .w2{
                color: rgb(133, 91, 1);
                font-weight: bold;
            }
            .w3{
                color: rgb(0, 97, 0);
                font-weight: bold;
            }
            */
        }
    }

    .scroll-to-top{
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(95, 19, 19); /* Set a background color */
        color: white; /* Text color */
        cursor: pointer;
        padding: 10px 30px;
    }

}