/*bootstrap 
col-xs = screen < 768px
col-sm = screen >= 768px
col-md = screen >= 992px
col-lg = screen >= 1200px
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
}

.big-puzzle {
  font-size: 1.4rem;
}

.purple_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 20px;
  color: white;
  background-color: #610000;
  border: none;
}

.current {
  color: #610000;
}

.transparent_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.inside_btn {
  margin-right: -25px;
}

.smaller-p {
  font-size: 0.945rem;
}

.input-box {
  display: flex;
  flex-direction: row;
}
.input-box .gen-text-input {
  text-align: center;
  border-radius: 0;
  border: 2px solid #610000;
  padding: 3px;
}

.only-bottom {
  border: none;
  border-bottom: 2px solid #353434;
  background-color: transparent;
  color: black;
  margin: 15px 0px;
}

.all-width {
  width: 100%;
}

.search-input {
  padding-left: 28px;
}

.done-undone-section {
  cursor: pointer;
}

.row {
  margin: 0 !important;
  padding: 0;
}

hr {
  margin: 20px 25%;
}

.flip {
  transform: rotate(180deg);
}

.style-none {
  list-style: none;
}
.style-none li {
  margin-left: -30px;
}

.bordered-aside {
  border-right: 1px dotted #353434;
}

.exp-box {
  padding: 12px;
  border: 1px solid #353434;
  margin-bottom: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}

.res-link {
  color: black;
}

.res-link:hover {
  color: #610000;
}

.scroll-accordion {
  height: 500px;
  overflow: scroll;
}

.table-mine {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}
.table-mine .table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*
  .table-cell-wide{
      text-align: center;
      border: 1px solid $dark-grey;
      width: 50%;
  }*/
}
.table-mine .table-row .table-cell {
  text-align: center;
  padding: 4px 0;
  width: 50%;
}
.table-mine .table-row .tc-left {
  font-weight: bold;
  border-left: 1px solid #353434;
}
.table-mine .table-row .tc-left, .table-mine .table-row .tc-right {
  border-right: 1px solid #353434;
  border-bottom: 1px solid #353434;
  border-top: 1px solid #353434;
}

body {
  min-height: 100vh;
}
body a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}
body a:hover {
  color: #610000;
}
body a:active {
  color: #610000;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 6px;
  background-color: #bababa;
}
header .head-link {
  text-align: center;
}
header .head-link .logo-p {
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 0.85rem;
  margin: 0;
  color: black;
}
header .head-link .logo-p:hover {
  color: #610000;
}
header .head-link img {
  width: 50px;
}
header h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Cinzel", serif;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
}
header nav a {
  margin: 0px 20px;
}

/*
@media screen and (max-width: $bp-phone){
    .bordered-aside{
        border: none;
    }
}
*/
@media screen and (max-width: 767px) {
  .bordered-aside {
    border: none;
  }
}
main {
  font-family: "Manrope", sans-serif;
  /*
  .scroll-to-top{
      position: fixed; 
      bottom: 20px; 
      right: 30px; 
      z-index: 99; 
      border: none; 
      outline: none; 
      background-color: $logo-red;
      color: white; 
      cursor: pointer;
      padding: 10px 30px;
      a:hover{
          color: $logo-grey;
      }
  }*/
}
main .accordion.accordion-flush {
  margin: auto;
}
main .accordion.accordion-flush .accordion-item {
  background: transparent;
}
main .accordion.accordion-flush .accordion-button {
  background: transparent;
  border-radius: 0 !important;
  display: flex;
  line-height: normal;
}
main .accordion.accordion-flush .accordion-button.big-accBtn {
  font-size: 1.5rem;
  justify-content: center;
  padding-top: 0;
}
main .accordion.accordion-flush .accordion-button.small-accBtn {
  font-size: 1rem;
  justify-content: flex-start;
  padding: 0;
}
main .accordion.accordion-flush .accordion-button:not(.collapsed) {
  color: #610000;
  box-shadow: none;
}
main .accordion.accordion-flush .accordion-button::after {
  display: none;
}
main .accordion.accordion-flush button:focus:not(:focus-visible) {
  outline: 0 !important;
}
main .accordion.accordion-flush .accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
main .accordion.accordion-flush .accordion-body.section-cheatsheet-body {
  padding: 0;
}
main .accordion.accordion-flush .accordion-body.section-cheatsheet-body .search-seaction {
  width: 100%;
}
main .accordion.accordion-flush .accordion-body.item-box-content {
  background: transparent;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases {
  margin-top: 35px;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .input-box {
  display: flex;
  flex-direction: row;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .input-box .add-input {
  width: 40px;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .label-p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder h4 {
  margin-top: 15px;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .btn {
  padding: 0;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word {
  display: flex;
  flex-direction: row;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word h4 {
  margin-top: 15px;
  margin-right: 10px;
}
main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word .w1 {
  color: black;
  font-weight: bold;
}
main .stringer .stringer-phases .phase-1 .input-box, main .stringer .stringer-phases .phase-2 .input-box {
  display: flex;
  flex-direction: row;
}
main .stringer .stringer-phases .phase-1 .input-box .add-input, main .stringer .stringer-phases .phase-1 .input-box .get-input, main .stringer .stringer-phases .phase-2 .input-box .add-input, main .stringer .stringer-phases .phase-2 .input-box .get-input {
  width: 50px;
}
main .stringer .stringer-phases .phase-1 h4, main .stringer .stringer-phases .phase-2 h4 {
  margin-top: 20px;
}
main .stringer .stringer-phases .phase-1 {
  border-right: 1px dotted #353434;
  padding: 0 15px 0 0;
}
main .stringer .stringer-phases .phase-2 {
  padding: 0 0 0 15px;
}
main .stringer .stringer-phases .phase-2 ul {
  list-style: none;
}
main .stringer .stringer-phases .phase-2 ul li {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: -29px;
}

main.common-main {
  padding: 25px 15px;
}
main.common-main .info {
  margin-top: 15px;
}
main.common-main .section-list {
  margin-top: 15px;
}
main.common-main .section-list .section-item {
  margin-top: 30px;
}
main.common-main .section-list .section-item .section-box-title {
  display: flex;
  flex-direction: row;
}
main.common-main .section-list .section-item .section-box-title .fa-solid.fa-puzzle-piece {
  margin-right: 6px;
}
main.common-main .show-box .add-vocab-box .add-vocab-input {
  width: 90%;
}
main.common-main .show-box .show-list {
  margin-top: 20px;
}
main.common-main .jumbo {
  display: flex;
  flex-direction: column;
}
main.common-main .jumbo .hero-text {
  text-align: left;
}
main.common-main .jumbo .hero-img {
  width: 100%;
  border: 1px dotted #353434;
}
main.common-main .add-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
main.common-main .showcase {
  padding-left: 20px;
}
main.common-main .showcase .sections-list .section-item .notes-box {
  margin: 15px 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  background-color: #bababa;
  color: whitesmoke;
  bottom: 0;
  top: 100%;
  width: 100%;
  margin-top: 50px;
  position: -webkit-sticky;
  position: sticky;
}
footer p {
  margin-bottom: 10px;
  font-size: 0.85rem;
}
footer .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .links a {
  font-size: 1.5rem;
  margin: 0px 15px;
}/*# sourceMappingURL=style.css.map */