.purple_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 20px;
  color: white;
  background-color: #610000;
  border: none;
}

.smaller-p {
  font-size: 0.945rem;
}

.gen-text-input {
  text-align: center;
  border-radius: 0;
  border: 2px solid #610000;
  padding: 3px;
}

.only-bottom {
  border: none;
  border-bottom: 2px solid #353434;
  background-color: transparent;
  color: black;
  margin: 15px 0px;
}

.row {
  margin: 0 !important;
  padding: 0;
}

hr {
  margin: 20px 25%;
}

.flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.style-none {
  list-style: none;
}

.style-none li {
  margin-left: -30px;
}

@use "_variables.scss";
@use "_commonClasses.scss";
/*inevitables*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
}

body {
  background-color: #bababa !important;
  min-height: 100vh;
}

body a {
  text-decoration: none;
  color: #fafafa;
}

body a:hover {
  color: #610000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 25px;
  background-color: #707070;
}

header a {
  color: black;
  text-align: center;
}

header a p {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 0.85rem;
  margin: 0;
}

header a img {
  width: 50px;
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Cinzel', serif;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  text-transform: uppercase;
  font-family: 'Manrope', sans-serif;
}

header nav a {
  margin: 0px 20px;
}

main {
  font-family: 'Manrope', sans-serif;
  /*
    .scroll-to-top{
        position: fixed; 
        bottom: 20px; 
        right: 30px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color: $logo-red;
        color: white; 
        cursor: pointer;
        padding: 10px 30px;
        a:hover{
            color: $logo-grey;
        }
    }*/
}

main .accordion.accordion-flush {
  width: 85%;
  margin: auto;
  margin-top: 100px;
}

main .accordion.accordion-flush .accordion-button {
  background-color: #bababa;
  border-radius: 0 !important;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .accordion.accordion-flush .accordion-button:not(.collapsed) {
  color: #610000;
}

main .accordion.accordion-flush .accordion-button::after {
  display: none;
}

main .accordion.accordion-flush button:focus:not(:focus-visible) {
  outline: 0 !important;
}

main .accordion.accordion-flush .accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .accordion.accordion-flush .accordion-body.item-box-content {
  background-color: #ffffff86;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases {
  background-color: #ffffff86;
  margin-top: 35px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .input-box .add-input {
  width: 40px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder .label-p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .adder h4 {
  margin-top: 15px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .btn {
  padding: 0;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word h4 {
  margin-top: 15px;
  margin-right: 10px;
}

main .accordion.accordion-flush .accordion-body.item-box-content .phases .shuffler .word .w1 {
  color: #056305;
  font-weight: bold;
}

main .stringer .stringer-phases .phase-1 .input-box, main .stringer .stringer-phases .phase-2 .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .stringer .stringer-phases .phase-1 .input-box .add-input, main .stringer .stringer-phases .phase-1 .input-box .get-input, main .stringer .stringer-phases .phase-2 .input-box .add-input, main .stringer .stringer-phases .phase-2 .input-box .get-input {
  width: 50px;
}

main .stringer .stringer-phases .phase-1 h4, main .stringer .stringer-phases .phase-2 h4 {
  margin-top: 20px;
}

main .stringer .stringer-phases .phase-1 {
  border-right: 1px dotted #353434;
  padding: 0 15px 0 0;
}

main .stringer .stringer-phases .phase-2 {
  padding: 0 0 0 15px;
}

main .stringer .stringer-phases .phase-2 ul {
  list-style: none;
}

main .stringer .stringer-phases .phase-2 ul li {
  color: #056305;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: -29px;
}

main.lang-main {
  padding: 25px 15px;
}

main.lang-main .only-bottom {
  width: 197px;
}

main.lang-main .show-box .show-list {
  margin-top: 20px;
}

main.lang-main .jumbo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.lang-main .jumbo .hero-text {
  text-align: left;
  width: 40%;
}

main.lang-main .jumbo .hero-img {
  width: 60%;
  height: 100%;
  border: 1px dotted #353434;
}

main.lang-main .add-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

main.lang-main .section-list .section-item {
  margin-bottom: 25px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  background-color: #707070;
  color: whitesmoke;
  bottom: 0;
  top: 100%;
  width: 100%;
  margin-top: 50px;
  position: -webkit-sticky;
  position: sticky;
}

footer p {
  margin-bottom: 10px;
  font-size: 0.85rem;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .links a {
  font-size: 1.5rem;
  margin: 0px 15px;
}
/*# sourceMappingURL=style.css.map */