@import "_variables.scss";
@import "_commonClasses.scss";
@use "_variables.scss"; //in case import gets deprecated
@use "_commonClasses.scss";


/*inevitables*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
}

body{
    background-color: $light-grey !important;
    min-height: 100vh;
    a{
        text-decoration: none;
        color: rgb(250, 250, 250);
    }
    a:hover{
        color: $logo-red;
    }
}

// body{
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//     background-image: url("../../tm_imgs/viewTMbg.png");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//     position: relative;
    
// }


// HEADER
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    background-color: $logo-grey;
    a{
        color: black;
        text-align: center;
        p{
            text-align: center;
            font-family: 'Manrope', sans-serif;
            font-size: 0.85rem;
            margin: 0;
        }
        img{
            width: 50px;
        }
    }
    h1{
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Cinzel', serif;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
        a{
            margin: 0px 20px;
        }
    }
}


// MAIN

main{
    //padding: 20px 50px;
    font-family: 'Manrope', sans-serif;

    /*hr{
        margin: 25px 0px;
    }
    .test{
        border: 1px solid green;
        height: 100px;
    } */

    ////// accordion
    .accordion.accordion-flush{
        width: 85%;
        margin: auto;
        margin-top: 100px;
        

        .accordion-button{
            background-color: $light-grey;
            border-radius: 0 !important;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
        }
        .accordion-button:not(.collapsed){
            color: $logo-red;
        }
        .accordion-button::after {
            display: none;
         }
        //this to get the light blue outline away in google
        button:focus:not(:focus-visible) {
            outline: 0 !important;
        } 
        .accordion-button:focus {
            z-index: 3;
            border-color: transparent;
            outline: 0;
            box-shadow: none;
        }


        
        .accordion-body.item-box-content{
            background-color: $transparent-white;
            .phases{
                background-color: $transparent-white;
                margin-top: 35px;

                .adder{
                    .input-box{
                        display: flex;
                        flex-direction: row;
                        .add-input{
                            width: 40px;
                        }
                        
                    }
                    .label-p{
                        font-size: 0.9rem;
                        margin-bottom: 15px;
                    }
                    h4{
                        margin-top: 15px;
                    }
                }
                .shuffler{
                    .btn{
                        padding: 0;
                    }
                    .word{
                        display: flex;
                        flex-direction: row;
                        h4{
                            margin-top: 15px;
                            margin-right: 10px;
                        }
                        .w1{
                            color: $dark-green;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }


    .stringer{
        .stringer-phases{
            .phase-1, .phase-2{
                .input-box{
                    display: flex;
                    flex-direction: row;
                    .add-input, .get-input{
                        width: 50px;
                    }
                }
                h4{
                    margin-top: 20px;
                }
            }
            .phase-1{
                border-right: 1px dotted $dark-grey;
                padding: 0 15px 0 0;
            }
            .phase-2{
                padding: 0 0 0 15px;
                ul{
                    list-style: none;
                    li{
                        color: $dark-green;
                        font-weight: bold;
                        font-size: 1.5rem;
                        margin-left: -29px;
                    }
                }
            }
        }
    }

    //scroll to top btn
    /*
    .scroll-to-top{
        position: fixed; 
        bottom: 20px; 
        right: 30px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color: $logo-red;
        color: white; 
        cursor: pointer;
        padding: 10px 30px;
        a:hover{
            color: $logo-grey;
        }
    }*/

}

////////////// FOOTER //////////////
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    background-color: $logo-grey;
    color: whitesmoke;
    bottom: 0;
    top: 100%;
    width: 100%;
    margin-top: 50px;
    position: sticky;
    
    p{
        margin-bottom: 10px;
        font-size: 0.85rem;
    }
    .links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        a{
            font-size: 1.5rem;
            margin: 0px 15px;
        }
    }
}